.header {
    background-color: var(--color-grey-dark-1);
    grid-column: 1 / -1;
    background-image: linear-gradient(var(--color-secondary-light), 
                        var(--color-secondary-light)), 
                        url(../img/hero.jpg);
    background-size: cover;
    background-position: center;
    padding: 5rem;

    display: grid;
    grid-template-rows: min-content repeat(8, min-content) ;
    grid-template-columns: minmax(min-content, max-content);
    grid-row-gap: 1.5rem;
    justify-content: center;


    &__logo {
        height: 15rem;
        justify-self: center;
    }
}