.section{

    &--about{
        grid-column: 4 / 7;
        margin-top: 10vh;
        margin-bottom: 30vh;
    }

    &--skills{
        grid-column: full-start / full-end;
        padding: 15rem 0;
        background-image: linear-gradient(
            to right bottom,
            var(--color-primary-light-transparent),
            var(--color-primary-dark-transparent)), 
            url(../img/hero-small.jpg);
        background-size: cover;
        margin-top: -10rem;

        transform: skewY(-3deg);

        & > * {
            transform: skewY(3deg);
        }

        @media only screen and (max-width: var(--bp-medium)){
            padding: 10rem 0;
        }
    }

    &--story{
        grid-column: center-start / center-end;
        display: grid;
        grid-template-columns: 20vw 20vw 10vw 20vw 20vw;
    }
}