h1, h2, h3, h4, h5{
    //Overflow
    overflow-wrap: break-word;
    width: 100%;
    font-weight: 400;
}

.heading {
    &-1 {
        font-size: 4.5rem;
        color: var(--color-white);
        line-height: 1;
        text-transform: uppercase;
    
        &--center {
            text-align: center;
            font-size: 4.5rem;
            color: var(--color-white);
            line-height: 1;
        }
    
        &--black {
            text-align: center;
            font-size: 4.5rem;
            color: var(--color-black);
            line-height: 1;
            text-transform: uppercase
        }
    }
    &-2 {
        font-size: 4rem;
        font-style: italic;
        line-height: 1;
        font-weight: 300;
    
        &--light {
            font-size: 4rem;
            line-height: 1;
            font-weight: 300;
            color: var(--color-grey-light-1);
        }
        &--dark {
            font-size: 4rem;
            line-height: 1;
            font-weight: 300;
            color: var(--color-grey-dark-1);
        }
    
        &--black {
            font-weight: 300;
            color: var(--color-black);
            font-size: 4rem;
            text-transform: uppercase;
            line-height: 1;
            margin-bottom: 2vh;
            text-align: center;
            word-break: break-all;
        }
    }
    &-3 {
        font-size: 2.4rem;
        color: var(--color-primary);
        text-transform: uppercase;

        &--black {
            font-weight: 300;
            color: var(--color-black);
            font-size: 2.4rem;
            text-transform: uppercase;
            line-height: 1;
            margin-bottom: 2vh;
            text-align: center;
            word-break: break-all;
        }
    }
    &-4 {
        font-size: 1.9rem;
        text-align: left;
        color: var(--color-white);
    
        &--light {
            font-size: 1.9rem;
            color: var(--color-grey-light-1);
        }
        &--dark {
            font-size: 1.9rem;
            color: var(--color-grey-dark-1);
        }

        
    }
    &--main {
        animation: moveInLeft .5s ease-out .5s;
        animation-fill-mode: both;

    }
    &--sub{
        animation: moveInRight .5s ease-out .5s;
        animation-fill-mode: both;

    }
    &--section{
        grid-column: 1 / -1;
    }
}












