.section-break{
    grid-column: full-start / full-end;
    padding: 15rem 0;
    background-image: linear-gradient(
        to right bottom,
        var(--color-primary-light-transparent),
        var(--color-primary-dark-transparent)), 
        url(../img/mk-5.jpg);
    background-size: cover;
    margin-top: -10rem;

    transform: skewY(-3deg);

    & > * {
        transform: skewY(3deg);
    }

    @media only screen and (max-width: var(--bp-medium)){
        padding: 10rem 0;
    }
    
}

.break{
    &__container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(25rem, max-content));
        grid-column-gap: 4rem;
        padding: 2rem;
        grid-row-gap: 4rem;
        justify-content: center;
    
    }

    &__title{
        text-align: center;
        text-transform: uppercase;
    }

    &__box{
        background-color: var(--color-white);
        font-size: 1.5rem;
        padding: 2.5rem;
        text-align: center;
        border-radius: 3px;
        box-shadow: 0 1.5rem 4rem var(--color-black-light);
        box-shadow: var(--default-shadow);
        transition: transform .3s;
    
        @media only screen and (max-width: var(--bp-medium)){
            padding: 2rem;
        }
    
        &__icon{
            font-size: 6rem;
            margin-bottom: .5rem;
            display: inline-block;
            background-image: linear-gradient(to right, var(--color-primary-light), var(--color-primary-dark));
            -webkit-background-clip: text;
            color: transparent;
    
            @media only screen and (max-width: var(--bp-medium)){
                margin-bottom: 0;
            }
        }
    
        &:hover{
            transform: translateY(-1.5rem) scale(1.03);
        }
    
    }
}
