.btn{
    background-color: $color-primary;
    color: #fff;
    border: none;
    border-radius: 0;
    font-family: $font-display;
    font-size: $medium-font-size;
    text-transform: uppercase;
    padding: 1.8rem 3rem;
    cursor: pointer;

    &:hover {
        background-color: $color-grey-dark-1;
    }
}