.story{

    &__pictures{
        background-color: var(--color-primary);
        padding-top: 2rem;
        padding-left: 10rem;
        padding-right: 10rem;
        padding-bottom: 2rem;
        background-image: linear-gradient(
            to right bottom,
            var(--color-primary-light-transparent), 
            var(--color-primary-dark-transparent)), 
            url(../img/back.jpg);
        background-size: cover;

        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(6, 5vw);
        grid-gap: 1rem;
        align-items: center;
        justify-content:center;
        overflow: hidden;


        @media only screen and (max-width: 600px){
            padding-top: 1rem;
            padding-left: 1rem;
            padding-right: 1rem;
            padding-bottom: 1rem;
        }

        & img{
            width: 100%;
            height: 100%;
            -o-object-fit: cover;
            object-fit: cover;
            display: block;
        }
    }

    &__img--1 {
        grid-row: 1 / 4;
        grid-column: 1 / 4;
        box-shadow: 0 2rem 5rem rgba(#000, .5); 
    }
    
    &__img--2 {
        grid-row: 2 / 7;
        grid-column: 3 / 7;
        z-index: 20;
        box-shadow: 0 2rem 5rem rgba(#000, .5); 
    }
    
    &__img--3 {
        grid-row: 4 / 7;
        grid-column: 1 / 4;
        box-shadow: 0 2rem 5rem rgba(#000, .5); 
    }
    
    

    &__content{
        background-color: var(--color-grey-light-1);
        padding: 3rem;
        
        
        /* Solution with Flexbox
        display: flex;
        flex-direction: column;
        //Aligns flex items along the main axis of the current line of the flex container.
        justify-content: center;
        //Default Stretch overried
        align-items: flex-start;
        */

        /* Solution with Grid */
        display: grid;
        align-content: center;
        justify-items: start;

        @media only screen and (min-width: 600px){
            padding: 6rem 8vw;
        }
    }

    &__text {
        font-size: var(--medium-font-size);
        font-style: italic;
        margin-bottom: 4rem;
    }
    
}